*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #393939;
  color: white;
}
.skeleton {
  background-color: #f0f0f0;
  animation: skeleton-loading 1s infinite;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
#main{
  height: 100%;
  width: 100%;
}
#navBg{
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to bottom, rgb(47, 47, 47) 80%, transparent);
    mask-image: linear-gradient(to bottom, rgb(47, 47, 47) 80%, transparent);
   position: relative; /*para sa search bar*/
}
.logo {
  font-size: 25px;
  background-image: url('logoBg.png');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: cover;
}
.logo:after {
  content: 'v2.0.2';
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}
nav{
  /*background-color: white;*/
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1)
}
.pcNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
  height: 50px;
  font-weight: bold;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background-color: #f0f0f0;
  color: black;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}   
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
#showSidebar{
    display: none;
}
/*search*/
.search-container{
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.search-container input{
    margin-left: 30px;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #00000073;
}
#search-input:focus{
    outline: none;
    padding: 0 5px;
    color: white;
    caret-color: white;
}
#search-input::placeholder{
    padding: 0 5px;
}
.search-container p{
    height: 100%;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-color: #858585;
}
/*feature-movies-start*/
#feature-movies{
  height: 250px;
  width: 100%;
}
/*feature-movies-end*/
.latest-text{
    text-align: center;
    padding: 10px 0;
}
/*latest movies List*/
#movie-container{
    width: 100vw;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#latestMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.movies{
    height: 250px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    position: relative;
}
.movies img{
    height: 200px;
    width: 100%;
}
.titleCon{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    overflow: auto;
    background-color: #1c1c1c;
}
.titleCon p{
    font-weight: bold;
    text-align: center;
}
.ratingCon{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 4px;
    background-color: #0000006d;
    font-weight: bold;
}
#pilianPage{
    height: 50px;
    width: 100vw;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
#pilianPage ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#pilianPage li{
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
}
/* para sa modal*/
#modal-window{
    height: 900px;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
#closeBtn{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #000000d0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#closeBtn p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
#myIframe{
    height: 250px;
    width: 90vw;
    margin: 5px 10px;
    border: 2px solid #000000d7;
    border-radius: 5px;
}
#mirrorCon{
    list-style: none;
    display: flex;
}
#mirrorCon li{
    height: 50px;
    width: 100px;
    margin: 0 10px;
    font-weight: bold;
    border: 2px solid #4f4f4f;
    border-radius: 5px;
    color: #d9d9d9;
    background-color: #848484;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playingPosterCon{
    height: 200px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid red;
    position: relative;
}
#playingPosterCon img{
    height: 100%;
    width: 100%;
}
#playingPosterCon p{
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #000000ab;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infoCon{
    margin-top: 10px;
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px 0;
}
#sypnosis{
    font-size: 15px;
    color: #858585;
    text-align: center;
    margin: 10px 5px;
}
#movieGenre, #releaseDate, #playingRating{
    font-weight: bold;
    margin: 5px;
}
footer{
    height: 150px;
    width: 100vw;
    background-color: #1c1c1c;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    margin-bottom: 10px;
    width: 100vw;
    padding: 0 20px;
    text-align: center;
}
@media(max-width: 1200px){
    #latestMovies{
        gap: 30px;
    }
    #myIframe{
        height: 400px;
        width: 800px;
    }
    #playingPosterCon{
        height: 400px;
    }
    
}
@media(max-width: 800px){
   #latestMovies{
        gap: 25px;
   }
  .hideOnMobile{
    display: none;
  }
  .sidebar{
      display: none;
  }
  #showSidebar{
      display: block;
  }
  #myIframe{
        height: 250px;
        width: 90vw;
   }
   #playingPosterCon{
       height: 200px;
   }
    
  
}
@media(max-width: 400px){
    #latestMovies{
        gap: 20px;
    }
    .sidebar{
        width: 100%;
    }
    #myIframe{
        height: 200px;
    }
    
 
}